@import "../../../styles/variables";

$large-margin: 60px;

.heroSection {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: calc($container-section-margin * 1.5) 0 calc($indent-main-double * 2);
  overflow: hidden;
  position: relative;

  .heroTitleSection {
    margin: $large-margin 0;
    text-align: center;

    .titleRow {
      margin: 0;
      font-size: 40px;
      font-weight: 500;

      &:nth-child(2) {
        color: $swd-primary-color;
        font-weight: 600;
      }

      + .titleRow {
        margin-top: $indent-mini;
      }
    }
  }

  .heroActionSection {
    display: flex;
    gap: $indent-main;
  }
}

@media (max-width: 768px) {
  .heroSection {
    .heroTitleSection {
      .titleRow {
        font-size: 32px;
      }
    }
  }
}
