@import "src/styles/variables";
@import "src/styles/parts/index";

html,
body {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: $swd-primary-color;
  color: $swd-primary-text-color;
  font-size: 16px;
  font-weight: 500;
}

button,
a {
  font-weight: 500;
  cursor: pointer;
}

a {
  display: flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

b {
  font-weight: 600;
}
