@import "../../styles/variables";

$gap-margin: 150px;

.wrapper {
  background: $background-color;
  border-bottom-right-radius: $border-radius-large;
  border-bottom-left-radius: $border-radius-large;
  display: flex;
  flex-direction: column;
  gap: $gap-margin;
  position: relative;
  overflow: hidden;

  .section {
    width: 100%;
    margin: $indent-main-double 0 auto;

    .title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: $indent-main;
      margin-top: $container-section-margin;
      text-align: center;
    }

    .description {
      line-height: 32px;
      max-width: 70%;
      margin: 0 auto;
      text-align: center;
    }

    &:last-child {
      margin-bottom: $container-section-margin;
    }

    .cardsWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $indent-main;
      margin: $indent-main-double 0;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        border-radius: $border-radius-medium;
        background-color: #FFFFFF;
        padding: $indent-main;
        box-sizing: border-box;
        text-align: center;
        min-height: 170px;

        .content {
          transition: $transition-animate;
          height: 100%;

          .logoWrapper {
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
              width: 200px;
              height: auto;
              transform: scale(1);

              &.smallIcon {
                width: 100px;
              }
            }
          }

          .description {
            max-width: 100%;
            line-height: 32px;
            margin: 0;
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: $indent-midi;

            a {
              color: $swd-primary-color;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .section {
      margin: $indent-main 0 auto;

      .rowSection {
        padding: $indent-mini-plus;
        border-radius: $border-radius-medium;
        background-color: $background-dark-color;
        margin: $indent-max-plus 0;

        &:last-child {
          margin-top: 0;
        }
      }

      &:last-child {
        margin-bottom: $indent-main;
      }

      .cardsWrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: $indent-midi;
        margin: $indent-main 0 0;

        .card {
          .logo {
            transform: scale(0.7);
          }

          .content {
            .description {
              line-height: 28px;
            }
          }

          &:hover {
            border-radius: $border-radius-small;

            .logo {
              transform: scale(.5);
            }
          }
        }
      }

      .title {
        font-size: 20px;
        margin-top: $indent-max;
        margin-bottom: $indent-midi;
      }

      .description {
        max-width: 100%;
        line-height: 28px;
      }
    }
  }
}
