@import "../../styles/variables";

$gap-margin: 150px;
$gap-margin-mobile: 100px;

.wrapper {
  background: $background-color;
  border-bottom-right-radius: $border-radius-large;
  border-bottom-left-radius: $border-radius-large;
  display: flex;
  flex-direction: column;
  gap: $gap-margin;
  position: relative;
  overflow: hidden;

  .section {
    width: 100%;
    margin: 0 auto;
    max-width: $content-max-width;

    &:first-child {
      margin-top: $indent-main-double;
    }

    &.rowSection {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $indent-main-double;

      .desktop {
        display: block;
      }

      .mobile {
        display: none;
      }

      .textWrapper {
        max-width: 50%;
      }
    }

    .sectionTitle {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: $indent-main;
    }

    .sectionDescription {
      line-height: 32px;
    }

    ul {
      padding-left: 20px;
    }

    &:last-child {
      margin-bottom: $container-section-margin;
    }

    .cardsWrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $indent-main;

      .card {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        box-sizing: border-box;

        ul {
          li {
            margin-bottom: $indent-mini;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 $indent-midi;
    gap: $indent-main-double;

    .section {
      &:first-child {
        margin-top: 0;
      }

      &.rowSection {
        .desktop {
          display: none;
        }

        .mobile {
          display: block;
          transform: scale(0.6);
        }

        .textWrapper {
          max-width: 100%;
        }
      }

      .sectionTitle {
        font-size: 24px;
      }

      .sectionDescription {
        line-height: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .cardsWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $indent-mini-plus;

        .card {
          .cardHeader {
            transform: scale(0.6) translateX(-80px);
          }

          ul {
            margin: 0;

            li {
              font-size: 14px;
              margin-bottom: $indent-mini;
            }
          }
        }
      }
    }
  }
}
