@import "../../styles/variables";

.headerWrapper {
  height: $container-section-margin;
  background: $background-color;

  .header {
    width: 100%;
    position: fixed;
    top: $indent-midi-plus;
    z-index: 2;

    .headerContainer {
      position: absolute;
      left: 0;
      right: 0;
      max-width: $content-max-width;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-inline: auto;
      padding: 0 $indent-max-plus;
      background: #FFFFFF;
      border-radius: $border-radius-large;
      box-shadow: $box-shadow;
      transition: $transition-animate;
      z-index: 2;

      &.expandedHeader {
        border-radius: 40px;
      }

      .topSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: $indent-midi 0;

        .logoButton {
          cursor: pointer;
          height: 18px;
        }

        .headerActions,
        .headerMobileActions {
          display: flex;
          align-items: center;

          .option {
            padding: 0 $indent-midi-plus;
            cursor: pointer;
            transition: $transition-animate;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;

            &.selectedOption {
              color: $swd-primary-color;
            }
          }

          .contactButton {
            margin-left: $indent-midi-plus;
          }
        }

        .headerMobileActions {
          display: none;

          .option {
            padding: 0;
          }
        }
      }

      .menuOptions {
        opacity: 0;
        transform: translateY(-30px);
        pointer-events: none;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: $indent-mini;
        transition: $transition-animate;
        justify-content: center;

        &.opened {
          opacity: 1;
          transform: translateY(0px);
          pointer-events: all;
          margin-bottom: $indent-main;
          max-height: 170px;
          overflow: visible;
        }

        .option {
          border-radius: $border-radius-large;
          padding: $indent-mini $indent-midi;
          transition: $transition-animate;

          &.selectedOption {
            background: $swd-primary-color;
            border-radius: $border-radius-small;
            color: #FFFFFF;
          }
        }
      }

      .projectSectionWrapper {
        opacity: 0;
        transform: translateY(-30px);
        pointer-events: none;
        max-height: 0;
        overflow: hidden;
        transition: $transition-animate;

        &.opened {
          opacity: 1;
          transform: translateY(0px);
          pointer-events: all;
          max-height: 650px;
        }
      }
    }
  }

  .headerBackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background: $background-color;
    transition: $transition-animate;
    z-index: 1;

    &.opened {
      visibility: visible;
      opacity: .82;
    }
  }

  .headerFader {
    width: 100%;
    position: fixed;
    top: 0;
    background: $background-color;
    height: calc($header-height);
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .headerWrapper {
    .header {
      top: 0;

      .headerContainer {
        border-radius: 0 0 $border-radius-medium $border-radius-medium;
        padding: 0 $indent-main;
        margin: 0 $indent-mini;

        &.expandedHeader {
          border-radius: 0 0 $border-radius-medium $border-radius-medium;
        }

        .topSection {
          margin: 0;

          a {
            transform: scale(0.8) translateX(-16px);
          }

          .headerActions {
            display: none;
          }

          .headerMobileActions {
            display: flex;
            align-items: center;
            pointer-events: all;
            height: 64px;
            font-size: 14px;
          }
        }

        .projectSectionWrapper {
          &.opened {
            max-height: 750px;
            margin: 0 (-$indent-main);
          }
        }
      }
    }

    .headerFader {
      height: 36px;
    }
  }
}
