@import "../../../styles/variables";

$card-padding: calc($indent-max-plus + $padding-step) $indent-main;
$margin-large: 60px;

.section {
  .mainIndustriesWrapper {
    display: flex;
    flex-direction: row;
    gap: $indent-main;
    margin: $indent-main-double auto;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      border-radius: $border-radius-medium;
      padding: $card-padding;
      background-color: #FFFFFF;
      box-sizing: border-box;

      .icon {
        margin-bottom: $indent-main;
      }

      .cardTitle {
        min-height: 65px;
        height: fit-content;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: $indent-max-plus;
      }

      .cardInfo {
        line-height: 32px;
        margin-bottom: $indent-max-plus;
      }
    }
  }

  .redirectText {
    margin-top: $margin-large;

    a {
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .section {
    .mainIndustriesWrapper {
      flex-direction: column;
      gap: $indent-midi;
      margin: $indent-max auto;

      .card {
        padding: $indent-max $indent-main;

        .icon {
          margin-bottom: $indent-midi;
        }

        .cardTitle {
          min-height: auto;
          font-size: 20px;
          margin-bottom: $indent-midi;
        }

        .cardInfo {
          line-height: 28px;
          margin-bottom: $indent-max;
        }
      }
    }

    .redirectText {
      margin-top: 0;
    }
  }
}
