@import "../../../styles/variables";

.projectSectionWrapper {
  margin-top: $indent-mini;
  display: flex;
  flex-direction: column;
  gap: $indent-mini;

  .sectionDescription {
    font-size: 16px;
    line-height: 32px;
    max-width: 700px;
    margin-bottom: $indent-main;
  }

  .cardsWrapper {
    display: flex;
    gap: $indent-midi;
    margin-bottom: $indent-max;

    .card {
      width: 100%;
      border-radius: $border-radius-medium;
      border: $swd-border;
      padding: $indent-main;

      .cardHeader {
        display: flex;
        align-items: center;
        margin-bottom: $indent-main;
      }

      .linkOptions {
        margin-top: $indent-main;

        .link {
          color: $swd-primary-text-color;
          text-decoration: none;
          transition: $transition-animate;

          &:hover {
            color: $swd-primary-color;
            transform: scale(0.96) translateX(-$padding-step);
          }

          .title {
            font-weight: 600;
          }

          .description {
            font-size: 14px;
          }

          +.link {
            margin-top: $indent-mini-plus;
          }
        }
      }

      .icon {
        margin-right: $indent-main;
      }

      .cardTitle {
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 768px) {
  .projectSectionWrapper {
    .sectionDescription {
      line-height: 28px;
      max-width: 100%;
      margin-bottom: $indent-mini;
    }

    .cardsWrapper {
      width: 100%;
      overflow: auto;
      padding: 0 $indent-main;
      box-sizing: border-box;

      .card {
        min-width: 220px;
      }
    }
  }
}

@media (max-width: 600px) {
  .projectSectionWrapper {
    .cardsWrapper {
      .card {
        .link {
          .title {
            font-size: 14px;
          }

          .description {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}
